<%= link_to "Clique para voltar", root_url %>
<h2>Alunos de Graduação</h2>
<table style="text-align: center;">
    <tr>
        <th>Nome do Aluno</th>
        <th>Curso de Graduação</th>
        <th>Semestre Atual</th>
    </tr>
    <% AlunoGraduacao.all.each do |a| %>
        <tr>
         <td><%= Aluno.find(a.cpf).nome %></td>
         <td><%= CursoGraduacao.find(a.id_curso).nome_curso.force_encoding("UTF-8") %></td>
         <td><%= a.semestre_atual %></td>
        </tr>
    <% end %>
</table>